# Ignore everything by default
*

# Allow the .gitignore file itself
!.gitignore

# Allow selected folders
!stm32f407zgt6_bootloader/
!stm32f407zgt6_flashwr/
!template_test/

# Allow all files and subfolders inside the selected folders
!stm32f407zgt6_bootloader/**
!stm32f407zgt6_flashwr/**
!template_test/**
